.align-left {
  text-align:left;

}

p {
  width: 50%;
  margin: 0 auto;
  padding: 15px 30px;
  border: 10px solid rgb(214, 207, 227);
}

#quiz {
  width: 50%;
  margin: 0 auto;
  padding: 15px 30px;
  border: 1px solid;
}

#quiz button, #high-scores button {
  display: block;
  margin: 10px;
  padding: 15px 30px;
  border-radius: 20px;
  color:azure;
  font-weight: bolder;
  font-size: 20px;
  background-color: blue;
}

/* Styles for disabled button */
#quiz button.disabled {
  background-color: grey;
}

#quiz button.enabled:hover {
  background-color:pink;
  color: magenta;
  cursor: pointer;
  box-shadow: 10px 10px 15px #999;
}

#quiz .submit-button, #high-scores button {
  padding: 3px;
  border-radius: 5px;
  display: inline;
}

body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

#start-button {
  margin-top: 50px;
  background-color: brown;
  color: white;
  padding: 15px 30px;font-size: 30px;
  border-radius: 20px;
}